@model IEnumerable<InternDemo.Models.Project>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.projectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.projectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.projectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@

    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Project Details</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>

                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                          
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table class="tablemanager">
                                    <thead>
                                        <tr>

                                            <th>Project Name</th>
                                            <th>Status</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Department Name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>   @Html.DisplayFor(modelItem => item.Name)</td>
                                                <td>   @Html.DisplayFor(modelItem => item.Status)</td>
                                                <td>   @Html.DisplayFor(modelItem => item.StartDate)</td>
                                                <td>   @Html.DisplayFor(modelItem => item.EndDate)</td>
                                                <td>   @Html.DisplayFor(modelItem => item.Department.Title)</td>
                                                <td>
                                                    <a asp-action="Edit" class="btn btn-success btn-sm rounded-0" asp-route-id="@item.ProjectId">Edit</a> 
                                                    <a asp-action="Delete" class="btn btn-danger btn-sm rounded-0" asp-route-id="@item.ProjectId">Delete</a>
                                                </td>

                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>

                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <a asp-action="Create" class="btn btn-block btn-default btn-lg">Create New</a>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
    </div>